Repository VisorFolks/cyancore, pull requests merged in 2021-12, with the labels that each got.

#71 Bug Fix for minimal project build and Updated for LibResource
  src/driver/build.mk
  src/driver/console/build.mk
  src/lib/libresource/dp/dp_gpio.c
  src/lib/libresource/dp/dp_module.c
  src/lib/libresource/dp/dp_system.c
  src/lib/libresource/include/dp/dp_module.h
  src/lib/libresource/include/resource.h
  src/platform/mega_avr/atmega328p/config.mk
  src/platform/mega_avr/atmega328p/platform/platform_dp.c
  src/platform/mega_avr/atmega328p/platform/platform_resource.c
  src/platform/mega_avr/common/hal/build.mk
  src/platform/mega_avr/common/hal/spi/spi.c
  src/projects/demo_avr/config.mk
  src/projects/demo_avr/project.c
  src/projects/demo_avr_bit_banding/config.mk
  src/projects/demo_avr_bit_banding/project.c
  src/projects/demo_avr_cpp/config.mk
  src/projects/demo_avr_cpp/project.cpp
  src/projects/project.template/build.mk
  src/projects/project.template/config.mk
Labels: enhancement, critical update, terravisor, cyancore framework, project, FR, bug-critical

#74 <Build> Fix for avr build
  mk/tc.mk
  src/platform/mega_avr/common/build.mk
Labels: terravisor, cyancore framework, bug-critical

#77 <Mega2560> Add support for mega2560 platform
  src/arch/avr/8/6/README.md
  src/arch/avr/8/6/terravisor/README.md
  src/arch/avr/8/6/terravisor/arch.c
  src/arch/avr/8/6/terravisor/arch_vectors.S
  src/arch/avr/8/6/terravisor/asm.S
  src/arch/avr/8/6/terravisor/build.mk
  src/arch/avr/8/6/terravisor/entry.S
  src/arch/avr/8/6/terravisor/include/arch.h
  src/arch/avr/8/6/terravisor/init.c
  src/arch/avr/8/6/terravisor/interrupt_handler.c
  src/arch/avr/8/6/terravisor/spinlock.S
  src/arch/avr/8/6/terravisor/stack.S
  src/platform/mega_avr/atmega2560/arch/build.mk
  src/platform/mega_avr/atmega2560/arch/plat_vectors.S
  src/platform/mega_avr/atmega2560/build.mk
  src/platform/mega_avr/atmega2560/config.mk
  src/platform/mega_avr/atmega2560/include/plat_arch.h
  src/platform/mega_avr/atmega2560/include/plat_mem.h
  src/platform/mega_avr/atmega2560/platform/build.mk
  src/platform/mega_avr/atmega2560/platform/platform_clk.c
  src/platform/mega_avr/atmega2560/platform/platform_reset.c
  src/platform/mega_avr/atmega2560/platform/platform_wdt.c
  src/platform/mega_avr/atmega2560/resources/build.mk
  src/platform/mega_avr/atmega2560/resources/dp.c
  src/platform/mega_avr/atmega2560/resources/resource.c
  src/platform/mega_avr/atmega2560/resources/sp.c
  src/projects/demo_2560/build.mk
  src/projects/demo_2560/config.mk
  src/projects/demo_2560/project.c
Labels: enhancement, critical update, terravisor, cyancore framework, project, FR

#73 <MegaAVR> Add Timer support on HAL and terravisor
  makefile
  mk/lint.mk
  mk/project.mk
  src/driver/console/console.c
  src/driver/driver.c
  src/driver/interrupt/interrupt.c
  src/driver/syslog/syslog.c
  src/driver/watchdog/watchdog.c
  src/include/hal/timer.h
  src/include/status.h
  src/lib/libnmath/dsp/conv.c
  src/lib/libresource/dp.c
  src/lib/libresource/dp/dp_module.c
  src/lib/libresource/include/dp/dp_device.h
  src/lib/libresource/include/dp/dp_system.h
  src/lib/libresource/sp.c
  src/platform/mega_avr/atmega2560/platform/platform_clk.c
  src/platform/mega_avr/atmega328p/platform/platform_clk.c
  src/platform/mega_avr/atmega328p/resources/dp.c
  src/platform/mega_avr/atmega328p/resources/resource.c
  src/platform/mega_avr/common/arch/platform_mcall.c
  src/platform/mega_avr/common/hal/adc/adc.c
  src/platform/mega_avr/common/hal/gpio/gpio.c
  src/platform/mega_avr/common/hal/spi/spi.c
  src/platform/mega_avr/common/hal/timer/timer.c
  src/platform/mega_avr/common/hal/timer/timer16.h
  src/platform/mega_avr/common/hal/timer/timer8.h
  src/platform/mega_avr/common/hal/uart/uart.c
  src/platform/mega_avr/common/hal/wdt/wdt.c
  src/platform/mega_avr/common/platform/platform_resource.c
  src/platform/mega_avr/common/platform/platform_wdt.c
  src/visor/terravisor/workers/mcall/machine_call.c
Labels: enhancement, critical update, terravisor, cyancore framework, project, FR

#82 Bug fix and updates for MegaAVR
  mk/tc.mk
  src/lib/libc/include/stddef.h
  src/lib/libc/include/stdint.h
  src/platform/mega_avr/atmega2560/resources/dp.c
  src/projects/demo_2560/config.mk
  src/projects/demo_avr/config.mk
  src/projects/demo_avr_bit_banding/config.mk
  src/projects/demo_avr_cpp/config.mk
  src/projects/project.template/config.mk
  src/sources.mk
Labels: enhancement, terravisor, project, bug-critical

#84 <AVR> Arch machine call bug fix
  src/arch/avr/8/common_5x_6/terravisor/arch.c
  src/arch/avr/8/common_5x_6/terravisor/include/arch.h
  src/driver/console/console_serial/console_serial.c
  src/platform/mega_avr/common/hal/gpio/gpio.c
  src/platform/mega_avr/common/hal/uart/uart.c
  src/platform/mega_avr/common/platform/platform_wdt.c
Labels: terravisor, cyancore framework, bug-critical
