Repository VisorFolks/cyancore, pull requests merged in 2021-08, with the labels that each got.

#29 Docs upd
  docs/design_docs/architectural_decision
  docs/framework_docs/1_cyancore
  src/arch/avr/8/5/terravisor/arch.c
  src/arch/avr/8/5/terravisor/asm.S
  src/arch/avr/8/5/terravisor/entry.S
  src/arch/avr/8/5/terravisor/init.c
  src/arch/avr/8/5/terravisor/interrupt_handler.c
  src/arch/avr/8/5/terravisor/spinlock.S
  src/arch/avr/8/5/terravisor/stack.S
  src/driver/console/console.c
  src/driver/driver.c
  src/engine/engine.c
  src/include/insignia.h
  src/projects/demo_avr/project.c
Labels: documentation, cyancore framework

#30 Add callbacks to syslog.
  src/driver/syslog/syslog.c
  src/include/syslog/syslog.h
  src/include/syslog/syslog_config.h
Labels: enhancement, cyancore framework

#33 <Demo_AVR> Adding cpp example of blinky on AVR
  src/include/compiler_macros.h
  src/include/insignia.h
  src/lib/libc/include/stdbool.h
  src/projects/demo_avr_cpp/build.mk
  src/projects/demo_avr_cpp/config.mk
  src/projects/demo_avr_cpp/gpio.cpp
  src/projects/demo_avr_cpp/gpio.h
  src/projects/demo_avr_cpp/project.cpp
Labels: cyancore framework, project

#34 <Bit Banding> Adding example for gpio bit banding on atmega328p
  src/projects/demo_avr_bit_banding/build.mk
  src/projects/demo_avr_bit_banding/config.mk
  src/projects/demo_avr_bit_banding/gpio_bit_banding.c
  src/projects/demo_avr_bit_banding/gpio_bit_banding.h
  src/projects/demo_avr_bit_banding/project.c
Labels: critical update, cyancore framework, project

#27 Dev pranjalchanda08 syslog
  src/driver/build.mk
  src/driver/driver.c
  src/driver/syslog/build.mk
  src/driver/syslog/syslog.c
  src/driver/syslog/syslog_cpu.c
  src/driver/syslog/syslog_exception.c
  src/driver/syslog/syslog_plat.c
  src/include/status.h
  src/include/syslog/syslog.h
  src/include/syslog/syslog_config.h
Labels: enhancement, critical update, cyancore framework
