Repository VisorFolks/cyancore, pull requests merged in 2022-12, with the labels that each got.

#172 <CC_OS> enhancements
  .vscode/c_cpp_properties.json
  projects/demo_avr/config.mk
  projects/demo_riscv/config.mk
  projects/hifive1b_bl/config.mk
  projects/project.template/config.mk
  src/include/status.h
  src/include/visor/terravisor/cc_os/cc_os.h
  src/include/visor/terravisor/cc_os/cc_os_config.h
  src/include/visor/terravisor/cc_os/cc_os_sem.h
  src/include/visor/terravisor/cc_os/cc_os_tasks.h
  src/include/visor/terravisor/cc_os/cc_shed.h
  src/include/visor/terravisor/cc_os/utils/cc_os_heap.h
  src/include/visor/terravisor/cc_os/utils/cc_os_sched.h
  src/visor/terravisor/services/kernel/cc_os.c
  src/visor/terravisor/services/kernel/cc_os_heap.c
  src/visor/terravisor/services/kernel/cc_os_sched.c
  src/visor/terravisor/services/kernel/cc_os_sem.c
  src/visor/terravisor/services/kernel/cc_os_shed.c
  src/visor/terravisor/services/kernel/cc_os_task_idle.c
  src/visor/terravisor/services/kernel/cc_os_tasks.c
Labels: enhancement, terravisor, cyancore framework, FR

#175 <FE310> Add HAL for AON_PMU
  src/arch/avr/8/common_5x_6/terravisor/asm.S
  src/include/status.h
  src/include/utils.h
  src/platform/sifive/common_fe310/hal/aon/aon_private.h
  src/platform/sifive/common_fe310/hal/aon/pmu.c
  src/platform/sifive/common_fe310/include/aon.h
Labels: documentation, enhancement, terravisor, cyancore framework, FR

#179 <CC_OS> Bug #176 fixed
  src/include/utils.h
  src/include/visor/terravisor/cc_os/cc_os.h
  src/include/visor/terravisor/cc_os/cc_os_sem.h
  src/include/visor/terravisor/cc_os/utils/cc_os_sched.h
  src/visor/terravisor/services/kernel/cc_os_sched.c
  src/visor/terravisor/services/kernel/cc_os_sem.c
Labels: bug-medium, cyancore framework, cc-os

#182 <1.3.2> Updated version
  .github/CODEOWNERS
  README.md
  src/engine/banner.mk
Labels: critical update, cyancore framework
